@model TurnosSalud.Models.Medico

@{
    ViewData["Title"] = "Eliminar Medico";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidad.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
